<div class="admonition-wrapper note d-none" id="banner-close">
  <div class="admonition alert alert-banner alert-dismissible fade show text-center" role="alert">
    <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
    We're looking for people to complete a short user research task related to using GitLab.
    <a href="#" target="_blank" rel="noopener noreferrer">
      Help us out.
    </a>
    <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<script type="application/javascript" src="<%= @items['/assets/javascripts/banner.*'].path %>"></script>
